﻿@model SoftServe.NewsPaperWeb.Models.LoginModel

@{
    ViewBag.Title = @ResourceHelper.GetResourceById("SignIn");
}
    <div class="_login-register" style="padding-bottom:90px">

<hgroup class="title">
    <h2>@ResourceHelper.GetResourceById("SignIn")</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                <section class="input-control text">@Html.TextBoxFor(m => m.UserName)
                    <span class="validation-message">@Html.ValidationMessageFor(m => m.UserName)</span>
                </section>
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                <section class="input-control password">@Html.PasswordFor(m => m.Password)
                    <span class="validation-message">@Html.ValidationMessageFor(m => m.Password)</span>
                </section>
            </li>
            <li>
                <div class="checkbox">@Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </li>
        </ol>
    <input type="submit" class="big-button" value="@ResourceHelper.GetResourceById("SignIn")" />
    
    <p id="register-link">
        @Html.ActionLink(ResourceHelper.GetResourceById("RegisterLink"), "Register") @ResourceHelper.GetResourceById("RegisterLinkMessage")
    </p>   
}
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
