﻿@model SoftServe.NewsPaperWeb.Models.RegisterModel

@{
    ViewBag.Title = @ResourceHelper.GetResourceById("Registration");
}

<div class="_login-register">

    <hgroup class="title">
        <h2>@ResourceHelper.GetResourceById("Registration")</h2>
    </hgroup>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="width: 350px">
            <ul class="list">
                <li>
                    @Html.LabelFor(m => m.UserName)
                    <section class="input-control text">@Html.TextBoxFor(m => m.UserName)
                        <span class="validation-message">@Html.ValidationMessageFor(m => m.UserName)</span>
                    </section>
                </li>
                <li>
                    @Html.LabelFor(m => m.PublicEmail)
                    <section class="input-control text">@Html.TextBoxFor(m => m.PublicEmail)
                        <span class="validation-message">@Html.ValidationMessageFor(m => m.PublicEmail)</span>
                    </section>
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    <section class="input-control password">@Html.PasswordFor(m => m.Password)
                        <span class="validation-message">@Html.ValidationMessageFor(m => m.Password)</span>
                    </section>
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    <section class="input-control password">@Html.PasswordFor(m => m.ConfirmPassword)
                        <span class="validation-message">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                    </section>
                </li>
            </ul>
        </div>
        <input type="submit" class="big-button" value="@ResourceHelper.GetResourceById("Register")" />   
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
