﻿@model IEnumerable<SoftServe.NewsPaperWeb.ViewModels.ArticleTileViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="_register-login">
    @foreach (var item in Model)
    {
        <div class="tile double bg-color-orange" onclick="window.location.href= '@Url.Action("ViewArticle","Home", new {id = item.Id })'">
            <div class="tile-content">
                <h3>@item.Title</h3>
                <br />
                <div class="icon">
                    <img height="75px" width="75px" class="place-left" src="@string.Format("Images\\Articles\\{0}", item.PictureUrl)" />
                </div>
                <p>
                    @item.Content
                </p>
            </div>
        </div>
    }
</div>
