﻿@{
    ViewBag.Title = "Home Page";
}
@{
    if (Request.IsAuthenticated)
    {
    <text>
        @*Hello, @User.Identity.Name
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }*@
You are: @if (User.IsInRole("Administrator"))
         {<h6>Administrator</h6>}
         else
         {<h6>Usual user</h6>}
    </text>
    }
  }