﻿@model SoftServe.NewsPaperWeb.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "ViewArticle";
}

<div class="body-text" style="padding-bottom: 90px; width: 50%">
    <h3>@Model.Title</h3>
    <img src="@string.Format("\\..\\Images\\Articles\\{0}", Model.PictureUrl)" />
    <p>@Model.Content</p>
</div>
