﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="metrouicss">
    <div class="page [secondary] with-sidebar">
        <div class="page-header">
            <div class="page-header-content">
                <section id="login" style="position: absolute; left: 55%; top: 7px">
                    @Html.Partial("_LoginPartial")
                </section>
                <div>
                    <h1 style="top: 10px;">Newspaper </h1>
                    <div style="position: absolute; left: 70%;">
                        <a class="button" href="@Url.Action("SetLanguage", "Home", new
                                     {
                                         @id = "ru",
                                         @returnUrl = Request.RawUrl
                                     })">Ru</a>
                        <a class="button" href="@Url.Action("SetLanguage", "Home", new
                                     {
                                         @id = "en",
                                         @returnUrl = Request.RawUrl
                                     })">En</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-sidebar" style="margin-left:15px;">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="icon-home"></i><b>Home</b></a>
                </li>
                <li  class="sticker sticker-color-blue">
                    <a>World news</a>
                </li>
                <li  class="sticker sticker-color-green">
                    <a>Science</a>
                </li>
                <li  class="sticker sticker-color-orange">
                    <a>IT-Sphere</a>
                </li>
                <li  class="sticker sticker-color-purple">
                    <a>Curiosity</a>
                </li>
                <li  class="sticker sticker-color-red">
                    <a>War in Syria</a>
                </li>
                <li  class="sticker sticker-color-yellow">
                    <a>Astronomy</a>
                </li>
            </ul>
        </div>

        <div class="page-region">
            <div class="page-region-content">
                <div id="body">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div class="page">
            <div class="nav-bar">
                <div class="nav-bar-inner padding10">
                    <span class="element">&copy; @DateTime.Now.Year - My ASP.NET MVC Application
                    </span>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
