div {
    display: block;

}

h3 {
    font-family: 'Segoe UI';
    color: white;
    vertical-align: central;
}

.localization {
    width: 100px;
    height: 50px;
        margin: 0px;
    padding: 0px;
    display: inline-block;
}

.lang {
    background-color: orange;
    padding-right: 0px;
    width: 50% !important;
    height:100% !important;
    text-align: center;
}
